@use './../../index.scss' as index;

.populatewrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: index.$primaryColor;
  padding: 15px 100px;


  .populateItems{
    display: flex;
    flex-direction: column;
    background-color: index.$secondaryColor;
    //border-radius: 100px;
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: end;
  background-color: index.$fifthColor;
  padding: 10px 50px;

  input {
    border-style: none;
    background-color: transparent
  }

  select {
    background-color: index.$territaryColor;
    color: index.$primaryFontColor;
    border-style: none;
  }

  .search {
    padding: 2px 12px;
    border-radius: 10px;
    background-color: white;
  }

  .typesearch {
    margin-left: 3px;
  }

  .sortselect {
    margin-left: 20px;
  }
}

.body {
  padding:10px  
}

.populateItemswrap {
  display: flex;
  flex-direction: column;
  height: 400px;
  overflow-y: auto;
  padding: 0px;

  .itemwrap {
    display: flex;
    flex-direction: row;
    padding: 10px;
    border: 1px solid index.$territaryColor;
    
    img {
      width: 70px;
      height: 70px;
    }

    .idwrap {
      display: flex;
      align-items: center;
      padding: 0px 10px;
      color: index.$secondaryFontColor;
      font-family: index.$territaryfont;
      font-style: italic;
      font-size: 0.875rem;
      white-space: nowrap;
    }

    .namewrap {
      //display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      padding: 0 30px;
      color: index.$fifthFontColor;
      font-family: index.$territaryfont;
      font-weight: bold;

      p {
        width: 100%;
        text-align: left;
        font-size: 0.875rem;
      }

      a {
        all: unset;
      }

      .username {
        color: index.$territaryColor;
        font-weight: normal;
        font-size: 0.75rem;
      }
    }    

    .stockwrap {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-right: 10px;
      font-family: index.$territaryfont;
      
      p {
        font-size: 0.75rem;
        color: index.$secondaryFontColor;
        margin: 10px
      }

      input {
        height: 30px;
      }

      button {
        background-color: rgb(172, 51, 51);
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 2px;
      }
    }

    .confirmwrap {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-right: 10px;
      font-family: index.$territaryfont;
      
      p {
        font-size: 0.75rem;
        color: index.$secondaryFontColor;
        margin: 10px
      }

      input {
        height: 30px;
      }

      button {
        background-color: rgb(40, 144, 80);
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 2px;
      }
    }


  }

  .itemwrap2 {
    display: flex;
    flex-direction: row;
    padding: 10px;
    border: 1px solid index.$territaryColor;
    background-color: rgb(181, 139, 139);
    
    img {
      width: 70px;
      height: 70px;
    }

    .idwrap {
      display: flex;
      align-items: center;
      padding: 0px 10px;
      color: index.$secondaryFontColor;
      font-family: index.$territaryfont;
      font-style: italic;
      font-size: 0.875rem;
      white-space: nowrap;
    }

    .namewrap {
      //display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      padding: 0 30px;
      color: index.$fifthFontColor;
      font-family: index.$territaryfont;
      font-weight: bold;

      p {
        width: 100%;
        text-align: left;
        font-size: 0.875rem;
      }

      a {
        all: unset;
      }

      .username {
        color: index.$territaryColor;
        font-weight: normal;
        font-size: 0.75rem;
      }
    }    

    .stockwrap {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-right: 10px;
      font-family: index.$territaryfont;
      
      p {
        font-size: 0.75rem;
        color: index.$secondaryFontColor;
        margin: 10px
      }

      input {
        height: 30px;
      }

      button {
        background-color: rgb(172, 51, 51);
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 2px;
      }
    }

    .confirmwrap {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-right: 10px;
      font-family: index.$territaryfont;
      
      p {
        font-size: 0.75rem;
        color: index.$secondaryFontColor;
        margin: 10px
      }

      input {
        height: 30px;
      }

      button {
        background-color: rgb(40, 144, 80);
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 2px;
      }
    }


  }
}






