@use './../../index.scss' as index;

.order {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: auto;
  min-height: 100%;
  width: 100;
  background-color: index.$primaryColor;

  > div {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 25px 20px;
    background-color: index.$territaryColor;
    
    form {

      input {
        color: index.$secondaryFontColor;
      }

      h1 {
        color: index.$primaryFontColor;
        font-size: 1rem;
        font-family: index.$primaryFont;
        padding-bottom: 10px;
      }

      > div {
        display: flex;
        flex-direction: column;
        margin: 5px 0px;

        h4 {
          color: index.$territaryFontColor;
          font-family: index.$primaryFont;
          font-size: 0.875rem;
        }

        > div {
          margin: 5px 0px;
          padding: 3px;
          width: 100%;
          background-color: rgba(255, 255, 255, 0.3);
          border-radius: 5px;

          input {
            background-color: transparent;
            border-style: none;
            flex: 1;
            width: 100%;

            &:focus {
              outline: none;
              box-shadow: none;
            }
          }
        }
        
      }

      .addresswrap {
        display: flex;
        flex-direction: column;
        margin-top: 15px;

        > div {
          all: unset;
          display: flex;
          flex-direction: row;

          > div {

            h4, > div {
              margin: 5px;
            }

            h4 {
              padding: 3px;
              min-width: 120px;
            }

            > div {
              padding: 3px;
              border-radius: 5px;
              background-color: rgba(255, 255, 255, 0.3);
            }
          }

          .addressinputwrap {
            width: 100%;
          }
          
        }
      }

      .pricewrap {
        p {
          margin: 2px 0px;
          font-family: index.$territaryfont;
          font-size: 0.875rem;
          color: index.$territaryFontColor;
        }
      }

      .button {
        all: unset;
        display: flex;
        flex-grow: auto;
        justify-content: end;
        margin-top: 15px;
        width: 100%;

        button {
          padding: 5px 10px;
          margin: 10px;
          border-style: none;
          border-radius: 4px;
          background-color: index.$fifthColor;
          color: index.$secondaryFontColor;
          font-family: index.$secondaryFont;
          font-weight: bold;
          font-size: 0.9rem;
        }
      }
    }
  }
}